<main>
    <div class="flex">
        <form id="search"
            class="relative rounded-3xl border border-black-800 border-2 w-3/4 flex content-center px-4 py-2"
            method="GET" action="#">

            <input class="w-full !outline-none" name="search" />
            <button type="submit">
                <span class="material-symbols-outlined">
                    search
                </span>

            </button>

        </form>
        <div class="flex w-fit">
            <div class="flex flex-wrap content-center mx-4 hover:cursor-pointer refresh">

                <span class="material-symbols-outlined">
                    sync
                </span>
            </div>
            <div up-href="/model/create" up-follow up-target="main"
                class="flex flex-wrap content-center mx-4 hover:cursor-pointer">

                <span class="material-symbols-outlined">
                    add_circle
                </span>
            </div>

        </div>
    </div>

    <div class="w-full h-full flex justify-center content-center mt-10">
        {% if models|length > 0 %}
        <div id="model-grid" class="grid-cols-5 gap-6 grid my-2 ml-2">
            {% for item in models %}
            <a class="model_card" href="model/detail/{{item['id']}}" up-target="div">
                <div
                    class="relative border border-2 border-black-900 h-96 rounded-3xl overflow-hidden hover:scale-125 hover:z-10 hover:cursor-pointer bg-white duration-500 ">
                    <img class="h-1/2 w-full" src="model_logo.png" />
                    <div class="p-2" style="font-family: Inter;">
                        <h2 id="name" style=" font-weight:800; font-size: 1.5vmax;">{{item.name}}</h2>
                        <h4 id="create_date"> Ngay tao: {{item.created_at}}</h4>
                        <h4 id="class_number"> So lop: {{item.cls_number}}</h4>
                        <div class="flex flex-wrap">
                            {% for cls in item['cls_list'] %}
                            <div class="rounded-full bg-cyan-100 px-2 text-sm m-1">
                                {{cls}}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if item['status'] == "TRAINING" %}
                    <div
                        class="absolute loader_filter top-0 left-0 right-0 bottom-0 flex justify-center flex-wrap content-center flex-col">
                        <div class="loader self-center">

                        </div>
                        <div class="text-white opacity-100 font-bold text-xl w-full text-center">
                            Training
                        </div>
                    </div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <p>You haven't created any model yet. Press the plus icon on the top right conner to create a new model.</p>
        {% endif %}
    </div>
    <script>
        function detail() {
            let btn = document.getElementById("train_btn")
            if (btn.className.includes("hidden"))
                btn.className = btn.className.replace(" hidden", "")
            else
                btn.className += " hidden"
        }
        async function refresh() {
            await up.render({ "target": "main", "url": "./model", })
        }
        let refresh_icon = document.getElementsByClassName("refresh")[0]
        refresh_icon.addEventListener('click', function (event) {
            up.reload("main")
        })
        let form = document.getElementById("search")
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            var formData = new FormData(form);
            // output as an object
            const data = Object.fromEntries(formData);
            console.log(data.search)
            up.render({ "target": "main", "url": "/model?search=" + data.search });
        })
        function mouseIn() {
            console.log("mouse in")
            let btn = document.getElementById("abort_btn")
            btn.className = btn.className.replace("hidden", "block").replace("invisible", "visible")
        }
        function mouseOut() {
            console.log("mouse out")
            let btn = document.getElementById("abort_btn")
            btn.className = btn.className.replace("block", "hidden").replace("visible", "invisible")
        }
        async function abort_train(id) {
            console.log(id)
            up.element.show(document.getElementsByTagName("loading-indicator")[0])
            await fetch("/train/" + id, {
                method: "DELETE",
                redirect: "follow"
            }).then(async (response) => {
                if (response.ok) {
                    data = await response.json();
                    console.log(data)
                    if (response.status != 200) {
                        alert(data["detail"])
                    }
                    else {
                        alert(data['message'])
                    }
                    up.element.hide(document.getElementsByTagName("loading-indicator")[0])
                    up.render({ "target": "main", "url": "/model/detail/" + id, "navigate": false })
                }
            }).catch((error) => {
                alert("There is an error that we are trying to resolve as soon as possible.")
                up.element.hide(document.getElementsByTagName("loading-indicator")[0])

            })
        }
        async function delete_model(id) {
            up.element.show(document.getElementsByTagName("loading-indicator")[0])
            await fetch("/model/" + id, {
                method: "DELETE",
                redirect: "follow"
            }).then(async (response) => {
                if (response.ok) {
                    data = await response.json();
                    console.log(data)
                    if (response.status != 200) {
                        alert(data["detail"])
                    }
                    else {
                        alert(data['message'])
                    }
                    up.element.hide(document.getElementsByTagName("loading-indicator")[0])
                    up.render({ "target": "main", "url": "/model", "navigate": false })
                }
            }).catch((error) => {
                alert("There is an error that we are trying to resolve as soon as possible.")
                up.element.hide(document.getElementsByTagName("loading-indicator")[0])

            })
        }
        function upload_image(event) {
            let input = document.getElementById("file")

            var reader = new FileReader();
            console.log("here")
            reader.onload = function (e) {
                document.getElementById("show_image").src = e.target.result
            }

            reader.readAsDataURL(input.files[0]);
            document.getElementsByClassName("box__input")[0].className += " hidden"

        }
        async function predict(model) {
            let input = document.getElementById("file")
            let data = new FormData()
            data.append("image", input.files[0], input.files[0].name);
            prediction = await fetch("/model/" + model + "/predict", { method: "POST", body: data }).then(async (response) => {
                data = await response.json()
                if (response.status == 200)
                    return data
                else {
                    alert(data['message'])
                    return null
                }
            }).catch((error) => {
                alert(error)
                return null
            })
            if (prediction) {
                document.getElementById("predict_container").textContent = JSON.stringify(prediction, undefined, 2)
            }
        }
        function reset() {
            document.getElementById("file").value = ""
            document.getElementById("show_image").src = ""
            up.element.show(document.getElementsByClassName("box__input")[0])
        }
    </script>
</main>