<div class="selected_data">
    <div id="{{key_id}}_selected" class="{{key_id}}_selected mr-6">
        <div class="flex">
            <div>
                {{key}}
            </div>
            <div class="text-right">
                {{class_number}} classes
            </div>
        </div>
        <div class="px-6">
            {% for cls in detail %}
            <div class=" flex justify-between">
                <div>{{cls['name']}}</div>
                <div class="text-right">{{cls['image']}} image</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>